@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);
body{
    background-color: orange;
    font-family: "open sans";
}
h1{
    text-align: center;
    font-size: 48px;
}
.container{
    width: 80%;
    margin: auto;
}
.cointanerhalf{
    width: 50%;
    float:left;
    text-align: center;
}
.timer{
    font-size: 48px;
    font-weight: bolder;
    margin: auto;
    text-align: center;
}
.timerProgress{
    background-color: yellow;
    border-radius: 50%;
    height: 360px;
    width: 360px;
    margin: auto;
}
.button{
    display: inline;
}